/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
body {
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    color: $dark-gray;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    margin-bottom: 0.5em;
    line-height: 1em;
}

h1 { font-size: 36px/$base-font-size*1em; }
h2 { font-size: 30px/$base-font-size*1em; }
h3 { font-size: 24px/$base-font-size*1em; }
h4 { font-size: 18px/$base-font-size*1em; }
h5 { font-size: 14px/$base-font-size*1em; }
h6 { font-size: 12px/$base-font-size*1em; }

p {
    margin-bottom: 1em;
}

a, a:visited {
    color: $accent-color;
    text-decoration: none;
    @include transition(all .3s ease-in-out);
}

a:hover {
    color: darken($accent-color, 15%);
}

hr {
    margin: 30px 0;
}