<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unstyled: Sensible Project Defaults</title>
    <link rel="stylesheet" href="css/defaults.css">
</head>
<body>

<div style="max-width: 80%;">
    <h1>Unstyled: Sensible Project Defaults</h1>

    <h2>Headings</h2>
    <h1>h1. Heading</h1>
    <h2>h2. Heading</h2>
    <h3>h3. Heading</h3>
    <h4>h4. Heading</h4>
    <h5>h5. Heading</h5>
    <h6>h6. Heading</h6>

    <hr>

    <h1>Paragraph</h1>
    <p>Curabitur blandit <a href="#">Test Link</a> tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.</p>

    <p>Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

    <hr>

    <h1>Lists</h1>

    <h2>Unordered List</h2>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <h2>Ordered List</h2>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <hr>

    <h1>Navigation</h1>

    <h2>Inline (Base) Nav</h2>
    <ul class="nav" style="margin-bottom: 20px;">
        <li><a href="#">Nav Item</a></li>
        <li><a href="#">Nav Item</a></li>
        <li><a href="#">Nav Item</a></li>
    </ul>

    <h2>Inline Block Nav</h2>
    <ul class="nav  nav--block">
        <li><a href="#">Nav Item</a></li>
        <li><a href="#">Nav Item</a></li>
        <li><a href="#">Nav Item</a></li>
    </ul>

    <h2>Stacked Nav</h2>
    <ul class="nav  nav--stacked">
        <li><a href="#">Nav Item</a></li>
        <li><a href="#">Nav Item</a></li>
        <li><a href="#">Nav Item</a></li>
    </ul>

    <hr>

    <h1>Forms</h1>
    <fieldset>
        <label>Text Input</label>
        <input type="text" placeholder="Text Input" />
    </fieldset>

    <fieldset>
        <label>Textarea</label>
        <textarea rows="5"></textarea>
    </fieldset>

    <fieldset>
        <label>Dropdown</label>
        <select>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
        </select>
    </fieldset>

    <hr>

    <h1>Tables</h1>

    <table>
        <thead>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 2</th>
        </thead>
        <tbody>
            <tr>
                <td>Item 1</td>
                <td>Item 2</td>
                <td>Item 3</td>
            </tr>
            <tr>
                <td>Item 1</td>
                <td>Item 2</td>
                <td>Item 3</td>
            </tr>
            <tr>
                <td>Item 1</td>
                <td>Item 2</td>
                <td>Item 3</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h1>Buttons</h1>
    <button>Simple Button</button>

    <hr>

    <h1>Messaging</h1>

    <div class="message  message--success">
        <span class="message__content">This is a successful message.</span>
    </div>

    <div class="message  message--error">
        <span class="message__content">This is an error message.</span>
    </div>

    <div class="message  message--notice">
        <span class="message__content">This is a notice.</span>
    </div>
</div>
</body>
</html>